<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartdrive">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- for background services -->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <!-- maps permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:priority="1000"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="androidx.multidex.MultiDexApplication"
        android:theme="@style/Theme.SmartDrive"
        tools:targetApi="31">


        <activity
            android:name=".DoneScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VipScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Signin"
            android:exported="false"
            android:theme="@style/login_sigup_theme" />
        <activity
            android:name=".SigninSignup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--preloaded fonts meta_data-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <!--google map key meta_data-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCchRKxs4ohmG8EIgcNH0u3bLPGn92g1mU" />



        <!--google map sign in meta_data-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>